@font-face {
  font-family: "Oberlin-icon";
  src: url("../fonts/Oberlin-icon.eot?bgr91h");
  src: url("../fonts/Oberlin-icon.eot?bgr91h#iefix") format("embedded-opentype"),
    url("../fonts/Oberlin-icon.ttf?bgr91h") format("truetype"),
    url("../fonts/Oberlin-icon.woff?bgr91h") format("woff"),
    url("../fonts/Oberlin-icon.svg?bgr91h#Oberlin-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="Oberlin-icon-"],
[class*=" Oberlin-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Oberlin-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Oberlin-icon-stethoscope:before {
  content: "\e900";
}
.Oberlin-icon-old:before {
  content: "\e901";
}
.Oberlin-icon-blind:before {
  content: "\e902";
}
.Oberlin-icon-left-quotes-sign:before {
  content: "\e903";
}
.Oberlin-icon-exercise:before {
  content: "\e904";
}
.Oberlin-icon-disability:before {
  content: "\e905";
}
.Oberlin-icon-brain:before {
  content: "\e906";
}
.Oberlin-icon-whatsapp:before {
  content: "\e907";
}
.Oberlin-icon-map:before {
  content: "\e908";
}
.Oberlin-icon-goal:before {
  content: "\e909";
}
.Oberlin-icon-discussion:before {
  content: "\e90a";
}
.Oberlin-icon-doctor:before {
  content: "\e90b";
}
.Oberlin-icon-first-aid:before {
  content: "\e90c";
}
.Oberlin-icon-email:before {
  content: "\e90d";
}
.Oberlin-icon-marker:before {
  content: "\e90e";
}
.Oberlin-icon-phone:before {
  content: "\e90f";
}
